// Specific CSS for your home-page
.body {
  background-color: white !important;
  font-family: "Syne", sans-serif;
  text-decoration: none !important;
}

.home-welcome {
  margin: 0;
}

.home-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
}
