
<div class="container text-center">
  <div class="home-container">
    <div>
      <p class="home-welcome">WELCOME TO</p>
      <h2><strong>CHESS BRO</strong></h2>
    </div>
    <% if user_signed_in? && Profile.where(user_id: current_user.id).exists? %>
      <div class="justify-content-center"><%= link_to "PLAY", new_game_path, class: "play-btn", data: { turbo: "false" } %></div>
    <% elsif user_signed_in? %>
      <p class="nav-link"><%= link_to "Create profile", new_profile_path, class: "new-header" %></p>
    <% else %>
      <p class="nav-link"><%= link_to "Log in", new_user_session_path, class: "new-header" %></p>
    <% end %>
    <div><%= link_to '<i class="fa-solid fa-magnifying-glass"></i>'.html_safe, profiles_path, class: "search-icon" %></div>
  </div>
</div>

<div class="video-background">
  <iframe src="https://www.youtube.com/embed/kAdRz_kDDqw?si=0fe6KT771LWUqidH?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
</div>

<%# <div class="video-background">
  <iframe src="https://www.youtube.com/embed/sDbYNhP3Zk4?si=66E71kCE1K7s6w8P?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
</div> %>
