<div class="chessboard"
  data-controller="board-piece"
  data-board-piece-game-id-value="<%= @game.id %>" >
  <% @board.board_state.each_with_index do |row, index| %>
    <div data-row="<%= index %>">
      <% row.each_with_index do |piece, index| %>
        <div data-col="<%= index %>" data-action="click->board-piece#selectPiece">
          <% if piece.present? %>
            <% piece_array = piece.split("/") %>
            <%= image_tag("pieces/#{piece_array[0]}#{piece_array[1]}.png") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
