<%# <div class="container text-center">
  <h1 class="new-header">NEW GAME</h1>
</div> %>

<div class="game-container"
  data-controller="game-subscription"
  data-game-subscription-game-id-value="<%= @game.id %>">
  <div class="board-container">

    <div class="player-info">
      <%#= cl_image_tag(Profile.find(31).profile_picture.key, width: 40, height: 40, crop: "fill", class: "rounded-circle", alt: "dropdown menu") %>
      <p class="new-header" data-game-subscription-target="opponent"><%= @game.black.present? ? @opponent : "Waiting for opponent..." %></p>
    </div>

    <div class="chessboard">
        <%# <div>
            <div></div><div>a</div><div>b</div><div>c</div><div>d</div><div>e</div><div>f</div><div>g</div><div>h</div>
        </div> %>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
  </div>

  <div class="player-info">
    <p class="new-header"><%= current_user.profile.username %>(You)</p>
    <%#= cl_image_tag(@game.white.profile.profile_picture.key, width: 40, height: 40, crop: "fill", class: "rounded-circle", alt: "dropdown menu") %>
  </div>

  <div class="chat-icon">
    <%= link_to '<i class="fa-regular fa-comment"></i>'.html_safe, game_chatroom_path(@game, @chatroom), class: "search-icon" %>
  </div>
</div>
