// body {
//   background-color: black;
// }

.highlight-square {
  background-color: rgb(155, 74, 74) !important;
  border: 0.5px rgb(118, 56, 56) solid;
}

.game-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

.board-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// .chessboard {
//   margin: auto auto;
//   width: 350px; height:350px;
//   border: solid white;
//   font-size:20px; line-height:2.5;
//   text-align:center;}

// .chessboard>div {
//   height:12.5%;
// }

// .chessboard>div>div {
//   width:12.5%; height:100%;
//   display:inline-block; vertical-align:top;
//   font-size: 2rem;
// }

.chessboard {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: 320px; /* Adjust based on your desired size */
  border: 2px solid black;
  font-size:20px; line-height:2.5;
  text-align:center;
}

.chessboard > div {
  display: flex;
}

.chessboard > div > div {
  width: 40px; /* Adjust based on your desired size */
  height: 40px; /* Adjust based on your desired size */
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid #ddd; /* Optional: adds a light border to each square */
}

// /* Optional: Different background colors for alternating squares */
// .chessboard > div > div:nth-child(odd) {
//   background-color: #f0d9b5; /* light square */
// }

// .chessboard > div:nth-child(odd) > div:nth-child(even),
// .chessboard > div:nth-child(even) > div:nth-child(odd) {
//   background-color: #b58863; /* dark square */
// }

.chessboard>div:nth-child(odd)>div:nth-child(even),
.chessboard>div:nth-child(even)>div:nth-child(odd) {
  background-color:rgb(215, 215, 215);
  color:rgb(0, 0, 0);
}

.chessboard>div:nth-child(odd)>div:nth-child(odd),
.chessboard>div:nth-child(even)>div:nth-child(even) {
  background-color:rgb(255, 255, 255);
}

//  .chessboard>div:nth-child(1),.chessboard>div>div:nth-child(1)
//   {background-color:white; color:rgb(56, 56, 56); }

.chessboard img {
  // z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  // top: -21px;
}

.player-info {
  display: flex;
  margin: 50px auto;
  align-items: center;
  gap: 8px;
}

.player-header {
  font-weight: 800;
  color: white;
  text-decoration: none;
  margin: 0;
}

// .player-info:first-child {
//   margin-left: 16px;
// }

// .player-info:last-child {
//   margin-right: 16px;
// }

// .footer {

//   margin-right: 16px;
// }
