.board-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chessboard{
  margin: auto auto;
  width: 350px; height:350px;
  border-style:solid;
  font-size:20px; line-height:2.5;
  text-align:center;}

 .chessboard>div{height:12.5%;}

 .chessboard>div>div{
  width:12.5%; height:100%;
  display:inline-block; vertical-align:top;
  font-size: 2rem;
}

 .chessboard>div:nth-child(odd)>div:nth-child(even),
 .chessboard>div:nth-child(even)>div:nth-child(odd)
  {background-color:black; color:white;}

 .chessboard>div:nth-child(1),.chessboard>div>div:nth-child(1)
  {background-color:white; color:black; }

.player-info {
  display: flex;
  margin: 50px auto;
  align-items: center;
  gap: 8px;
}

.player-info:first-child {
  margin-left: 16px;
}

.player-info:last-child {
  margin-right: 16px;
}

// .footer {

//   margin-right: 16px;
// }
