.chat-modal {
  position: fixed;
  top: 20vh;
  left: 24px;
  z-index: 1;
}

.chatroom {
  background-color: white;
  margin-top: 9px;
  height: 60vh;
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border: solid 1px gray;

  h1 {
    border-bottom: 1px solid gray;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    background: rgb(255, 255, 255);
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
  align-items: end;
  gap: 8px;
}

.sender-style p, .receiver-style p {
  margin: 0px;
}

.sender-style, .receiver-style {
  width: 75%;
  max-width: 400px;
  // border-radius: 4px;
  // padding-top: 8px;
  padding: 12px;
  padding-top: 8px;
  // min-height: 80px;
  margin: 0;
}

.sender-style {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 12px 12px 0px 12px;
}

.receiver-style {
  background-color: rgb(237, 237, 237);
  border-radius: 12px 12px 12px 0px;
}

.msg-timestamp {
  opacity: 0.5;
}

.chat-icon {
  margin: 0 auto;
  // opacity: 0.5;
}
