.profile-container {
  width: 75vw;
  margin: 0 auto;
  z-index: -1;
}

.profile-top {
  text-align: center;
}

.profile-img {
  border: solid 1px rgb(200, 200, 200);
}

.profile-top h1 {
  margin-top: 24px;
  font-size: 2rem;
}

.profile-stats {
  color: rgb(150, 150, 150);
  width: 24vw;
  padding: 12px 24px;
  border-radius: 8px;
  margin: 0 auto 48px auto;
  display: flex;
  justify-content: center;
}

.stats {
  border-right: 1px solid rgb(202, 202, 202);
  padding: 0px 16px;
}

.stats:last-child {
  border: none;
}

.stats p {
  margin: 0;
}

.following {
  color: white;
  background-color: rgb(142, 142, 142);
  border: none;
  font-weight: bold;
  padding: 12px 24px;
  width: 200px;
  margin: 0 auto;
}


.search-bar {
  width: 80vw;
  margin: 0 auto;
}

.profile-bottom {
  // background-color: rgb(0, 0, 0);
  // color: white !important;
  // border-radius: 24px 24px 0 0;
  max-width: 450px;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
}

.friends-container, .games-container {
  margin: 24px auto;
  padding-top: 24px;
  width: 100%;
  text-align: center;
  color: black !important;
}

.friends-container {
  margin-bottom: 0;
}

.profile-item {
  width: 100%;
  margin: 16px auto;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 16px;
  transition: 0.4s ease;
}

// .profile-item:hover {
//   margin: 24px auto;
//   transition: 0.4s ease;
// }

.profile-item:last-child {
  border: none;
}

.container-form {
  width: 60vw;
  margin: 0 auto;
}
.edit-icon {
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  color: black
}

.friends-header {
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0;
}

.logout-btn {
  padding-bottom: 24px;
  margin-left: 24px;
  text-decoration: none !important;
  color: black;
}
